body{
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.board button{
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    border: 3px solid black;
    background-color: gray;
    margin: 1px;
}
.redColor{
    background-color: #840030;
}