h1{
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
table{
    margin: auto;
}
th{
    height: 350px;
    width: 150px;
    border: 7px solid white;
}
.th1{
    background-color: #247BA0;
}
.th2{
    background-color: #70C1B3;
}
.th3{
    background-color: #B2DBBF;
}
.th4{
    background-color: #F3FFBD;
}
.th5{
    background-color: #FF1654;
}
/*



*/