body{
    background-color: #7bdef2;
}
h1{
    border: 4px dotted;
}

div p{
    background-color: rgb(245, 221, 84);
}
#liid{
    text-decoration: overline;
    color: #b72bc4;
    
}
h3{
    color: #b72bc4;
}

input{
    border: 3px solid red;
}
.new{
    background-color: blue;
    border: 3px dashed rgb(243, 224, 113);
}
textarea{
    border: 4px solid rgb(70, 58, 58);
}
#feedback{
    border: none;
}
a{
    color: red;
}
a:visited{
    color: blue;
}