body{
    background-color: #182756;
    color: white;
    text-align: center;
    font-size: 2em;
    border: 100px solid #2a9da3;
    border-top: none;
    padding: 0% 18%;
    padding-bottom: 20px;
    margin: 0px;
}

p{
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
}

.btn-signup{
    font-size: 16px;
    height: 50px;
    width: 100px;
    background-color: #e2b924;
    border-radius: 10px;
    border: none;
}
input{
    height: 30px;
    width: 35%;
    font-size: 20px;
}